<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Managements</title>
</head>
<body>
    <h1>Hello For All Students</h1> 

    <h3>Your Name {{ fname | default:'Al-omari' }}</h3>
    <h3>Your Name {{ fname | upper }}</h3>
    <h3>Your Name {{ fname | lower }}</h3>
    <h3>Your Name {{ fname | capfirst }}</h3>
    <h3>Your Name {{ fname | length }}</h3>
    <h3>Your Name {{ fname | slice:2 }}</h3>
    <h3>Your Name {{ fname | add:' almosanif' }}</h3>
</body>
</html>